* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#8dac99;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #519674;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}


nav ul {
    display: flex;
    gap: 1em;
    margin-bottom: 5em;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: color .3s;
}

nav ul li a:hover {
    color:#b2e1d0;
}

nav p {
    color: white;
    text-align: center;
    font-size: 1.149rem;
}

.country {
    text-align: left;
    padding-left: 8.4em;
}
main{
    max-width: 900px;
    margin: 0 auto;
  
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5em;
    margin-block: 2.5em;
    
}
.card{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  padding: 3em 1.5em;
  transition: 0.3s box-shadow 800ms, transform;
}
.card:hover{
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  transform: scale(1.025);
}
.card1 h1{
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #519674;
 text-decoration: underline;
  text-decoration-color: rgb(2, 83, 43);
  text-underline-offset: 5px;
  padding-bottom: 1.1em;

}
.card1 p{
  line-height: 1.55;
}
.card2 h1{
  text-transform: capitalize;
  color: #519674; 
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: rgb(2, 83, 43);
  text-underline-offset: 5px;
  padding-bottom: 1.5em;
  
}
.card2 ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}
.box{
  background-color: #519674;
  border-radius: 5px;
  color: white;
}
.card3 h1{
  text-transform: capitalize;
  color: #519674; 
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: rgb(2, 83, 43);
  text-underline-offset: 5px;
  padding-bottom: 1.1em;
  
}
.card3 h4{
  text-transform: capitalize;
  color:  #519674; 
  font-size: 1rem;
  padding-bottom: 1.4em;
}
.card3 p{
  line-height: 1.55;
}
.card4 h1{
  text-transform: capitalize;
  color: #519674; 
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: rgb(2, 83, 43);
  text-underline-offset: 5px;
  padding-bottom: 1.1em;

}
.card4 p {
  line-height: 1.55;
}
.card4 h4{
  text-transform: capitalize;
  padding-bottom: .7em;

}
.date{
  padding-bottom: 1em;
}
.card4 ul li{
  padding-left: 1em;
  margin-top: 1em;
 }
 .card5 h1{
  text-transform: capitalize;
  color: #519674; 
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: rgb(2, 83, 43);
  text-underline-offset: 5px;
  padding-bottom: 1.1em;

 }
 .card5 h4{
  text-transform: capitalize;
  font-weight: bold;
 padding-bottom: 1.5em;

 }
 .card5  p{
  line-height: 1.35;
 }
 .card5 h4{
  padding-top:1.3em ;
 }
 .card5 ul li{
  padding-left: 1em;
  margin-top: 1em;

 }
 .card6 h1{
  text-transform: capitalize;
  color: #519674; 
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: rgb(2, 83, 43);
  text-underline-offset: 5px;
  padding-bottom: 1.1em;

 }
 .card6 ul li{
  padding-left: 1em;
  margin-top: 1em;
 }
 

